---
http_interactions:
- request:
    method: get
    uri: https://takehome.io/twitter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - f550a2b05cae099117ce4f60b44c8cb3
    body:
      encoding: ASCII-8BIT
      string: '[{"username":"@GuyEndoreKaiser","tweet":"If you live to be 100, you
        should make up some fake reason why, just to mess with people... like claim
        you ate a pinecone every single day."},{"username":"@mikeleffingwell","tweet":"STOP
        TELLING ME YOUR NEWBORN''S WEIGHT AND LENGTH I DON''T KNOW WHAT TO DO WITH
        THAT INFORMATION."}]'
  recorded_at: Fri, 21 Oct 2022 12:36:31 GMT
- request:
    method: get
    uri: https://takehome.io/facebook
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - bbed3ec1c45ba6b33b80e55354294384
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Some Friend","status":"Here''s some photos of my holiday.
        Look how much more fun I''m having than you are!"},{"name":"Drama Pig","status":"I
        am in a hospital. I will not tell you anything about why I am here."}]'
  recorded_at: Fri, 21 Oct 2022 12:36:32 GMT
- request:
    method: get
    uri: https://takehome.io/instagram
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 7bc6cbb0046006c38a58070b2ca396ea
    body:
      encoding: ASCII-8BIT
      string: '[{"username":"hipster1","picture":"food"},{"username":"hipster2","picture":"coffee"},{"username":"hipster3","picture":"coffee"},{"username":"hipster4","picture":"food"},{"username":"hipster5","picture":"this
        one is of a cat"}]'
  recorded_at: Fri, 21 Oct 2022 12:36:33 GMT
recorded_with: VCR 6.1.0
