---
http_interactions:
- request:
    method: get
    uri: https://takehome.io/twitter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 29c189f0db8dfdc2877b6c1599470d95;o=1
    body:
      encoding: ASCII-8BIT
      string: '[{"username":"@GuyEndoreKaiser","tweet":"If you live to be 100, you
        should make up some fake reason why, just to mess with people... like claim
        you ate a pinecone every single day."},{"username":"@mikeleffingwell","tweet":"STOP
        TELLING ME YOUR NEWBORN''S WEIGHT AND LENGTH I DON''T KNOW WHAT TO DO WITH
        THAT INFORMATION."}]'
  recorded_at: Fri, 21 Oct 2022 12:22:59 GMT
- request:
    method: get
    uri: https://takehome.io/facebook
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - ded2eff9886fba255670caab5f34adda
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Some Friend","status":"Here''s some photos of my holiday.
        Look how much more fun I''m having than you are!"},{"name":"Drama Pig","status":"I
        am in a hospital. I will not tell you anything about why I am here."}]'
  recorded_at: Fri, 21 Oct 2022 12:23:00 GMT
recorded_with: VCR 6.1.0
